#pg-header div, #pg-footer div {
    all: initial;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
}
#pg-footer div.agate {
    font-size: 90%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
#pg-footer li {
    all: initial;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    text-indent: -0.6em;
}
#pg-footer div.secthead {
    font-size: 110%;
    font-weight: bold;
}
#pg-footer #project-gutenberg-license {
    font-size: 110%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
#pg-header-heading {
    all: inherit;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}
#pg-footer-heading {
    all: inherit;
    text-align: center;
    font-size: 120%;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}
#pg-header #pg-machine-header p {
    text-indent: -4em;
    margin-left: 4em;
    margin-top: 1em;
    margin-bottom: 0;
    font-size: medium
}
#pg-header #pg-header-authlist {
    all: initial;
    margin-top: 0;
    margin-bottom: 0;
}
#pg-header #pg-machine-header strong {
    font-weight: normal;
}
#pg-header #pg-start-separator, #pg-footer #pg-end-separator {
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: auto;
    margin-top: 2em;
    text-align: center
}

    .xhtml_center {text-align: center; display: block;}
    .xhtml_center table {
        display: table;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        }

@media screen {
    body {
        margin-left: 10%;
        margin-right: 10%
        }
    }
.pagedjs_page_content > div {
    margin-left: 10%;
    margin-right: 10%
    }
h1, h2, h3 {
    text-align: center;
    clear: both
    }
p {
    margin-top: 0.51em;
    text-align: justify;
    margin-bottom: 0.49em
    }
hr {
    width: 33%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 33.5%;
    margin-right: 33.5%;
    clear: both
    }
hr.chap {
    width: 65%;
    margin-left: 17.5%;
    margin-right: 17.5%
    }
hr.tb {
    width: 45%;
    margin-left: 27.5%;
    margin-right: 27.5%
    }
.center {
    text-align: center
    }
.right {
    text-align: right
    }
.figcenter {
    margin: auto;
    text-align: center
    }
x-ebookmaker-drop {
    display: none
    }
div.titlepage {
    text-align: center;
    page-break-before: always;
    page-break-after: always
    }
div.titlepage p {
    text-align: center;
    text-indent: 0;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 3em
    }
.poetry .stanza {
    margin: 1em auto
    }
.poetry .verse {
    padding-left: 1em
    }
.poetry .indent2 {
    text-indent: 2em
    }
.poetry .indent3 {
    text-indent: 3em
    }
.poetry .indent4 {
    text-indent: 4em
    }
.poetry .indent6 {
    text-indent: 6em
    }
table {
    margin-left: auto;
    margin-right: auto
    }
.smcap {
    font-variant: small-caps
    }
.ph1 {
    text-align: center;
    text-indent: 0
    }
.ph1 {
    font-size: medium;
    margin: 0.67em auto
    }
.ph2 {
    text-align: right;
    text-indent: 0
    }
.ph2 {
    font-size: medium;
    margin: 0.67em auto
    }
